@media screen and (min-device-width: 768px) and (max-device-width: 991px) { 
    .BigDiv_Responsive .textbox .low {
        left: 16.5% !important;
    }
    .BigDiv_Responsive .textbox .high {
        right: 15.5% !important;
    }
}

@media only screen and (max-width: 991px) {
    .frameCoinHeader {
        border-radius: 0px 0px 60px 0px !important;
        padding: 10px 15px 5px !important;
    }

    .frameCoinHeader p {
        font-size: 12px !important;
    }

    .frameCoinshow .confetti-button {
        max-width: 120px;
        height: 50px;
    }

    .frameCoinshow .frameCoinHeader .frameheadLogo>div {
        text-align: center;
    }

    .frameCoinshow .frameCoinHeader .frameheadLogo img {
        max-width: 50px;
        margin: 0px auto;
    }

    .frameCoinshow .frameHeadcpLogo img {
        max-width: 50px;
    }

    .timeSlotes .timeBlocks {
        width: 60px !important;
        height: 60px !important;
        flex: 0 0 60px;
    }

    .timeSlotes .timeBlocks>div {
        margin: 0px;
    }

    .timeSlotes .timeBlocks p {
        font-size: 12px;
    }

    .coinCardshopModal .modal-content {
        border-radius: 20px 0px 20px 20px !important;
        margin-top: 1%;
        padding: 5px 10px;
    }

    .coinCardshopModal .modal-content .modal-body {
        padding: 0px 5px 5px;
    }

    .coinCardshopModal .modal-content .modal-body div>img {
        height: 30px !important;
        object-fit: contain;
    }

    .coinCardshopModal .modal-content .modal-body p {
        font-size: 12px !important;
        margin-bottom: 2px;
    }

    .cpCardGraph p {
        font-size: 11px !important;
        margin-bottom: 0px !important;
    }

    .coinCardshopModal .modal-dialog-centered {
        align-items: flex-start;
    }

    .coinCardshopModal .modal-body button {
        height: 28px;
        padding: 10px 10px;
    }

    .gauge_responisve {
        height: 140px !important;
    }

    .BigDiv_Responsive .textbox .mid {
        top: 5% !important;
    }

    .BigDiv_Responsive .textbox * {
        font-size: 12px !important;
    }

    .cpCardGraph .range_detail_logo {
        height: auto !important;
        object-fit: contain;
    }

    .cpCardGraph .text_timer_responsive {
        font-size: 18px !important;
        left: 42% !important;
    }
}

@media only screen and (max-width: 575px) {
    .frameCoinshow .frameCoinHeader .frameheadLogo img {
        max-width: 40px;
    }

    .frameCoinshow .confetti-button {
        max-width: 100px;
        height: 40px;
    }

    .frameCoinshow .frameHeadcpLogo img {
        max-width: 50px;
    }

    .cpCardGraph p {
        font-size: 10px !important;
    }

    .timeSlotes .timeBlocks {
        width: 55px !important;
        height: 55px !important;
        flex: 0 0 55px;
    }

    .timeSlotes .timeBlocks p {
        font-size: 12px;
    }
}