/* .modal-backdrop.show {
    opacity: 0;
} */
/* .modal {
    border:1px solid red;
} */
.modal-content{
    
    border-radius: 100px 0px 100px 100px !important;
}
.modal-backdrop.fade{
    opacity: 0;
}

.modal-backdrop{
    display: none;
    /* opacity: 1; */
}

.HeaderText{
animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.coinText{
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    background: linear-gradient(182deg, #FFF 0%, #ffffff 650%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #bfb7b78a;
}