.partnersMain{
    background-color: #160133;
}

@media(max-width: 750px) {
    .stepContainer{
        display: table;
        width: 100%;
        margin: 0px auto; 
    }
}
@media(min-width: 750px) {
    .stepContainer{
        display: table;
        width: 50%;
        margin: 0px auto; 
    }
}
.tableCell{
    width: 33.3333%;
    display: table-cell;
    position: relative;
    padding-top: 0px;
}
.step{
    width: 6.25rem;
    height: 6.25rem;
    margin: 0px auto;
    flex-shrink: 0;
    border-radius: 100%;
    text-align: center;
    padding: 1px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: block;
    border-color:#593EDA;
    fill: linear-gradient(180deg, #604EE5 0%, #4102B4 100%);
    background-image: url("assets/images/partnersStep.svg");
}
.stepConnecterNext{
    position: absolute;
    top: 50px;
    height: 1px;
    border-top: 1px solid rgb(82, 14, 175);
    right: 0px;
    left: 50%;
    margin-left: 54px;
}
.stepConnecterPrev{
    position: absolute;
    top: 50px;
    height: 1px;
    border-top: 1px solid rgb(82, 14, 175);
    left: 0px;
    right: 50%;
    margin-right: 54px;
}

.buttonText{
    display: block;
    text-decoration: none;
    background: linear-gradient(180deg, #FEFEFE 35.94%, #3C1ABA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-align: center;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0275rem;
    text-transform: capitalize;
    padding-top: 1.5rem;
}

.headerTitle{
    text-align:center;
    color: #FEFEFE;
    text-shadow: 0px 1px 3px #5B03FF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    margin-top:2.6em;
}

.subHeaderText{
    background: linear-gradient(180deg, #FEFEFE 35.94%, #3C1ABA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0275rem;
}
.description{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.1875rem;
    font-style: normal;
    /* font-weight: 400; */
    /* line-height: 2.5rem;  */
    /* letter-spacing: 0.02375rem; */
    text-transform: capitalize; 
}
.footerText{
    margin-top:3.5em;
    color: #FEFEFE;
    text-align: center;
    font-family: Poppins;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1875rem; /* 184.211% */
    letter-spacing: 0.02375rem;
    text-transform: capitalize;
}
.foreverText{
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1875rem;
    letter-spacing: 0.02375rem;
    text-transform: capitalize;
}
.inviteButton{
    position:relative;
    margin-top:1.5em;
    padding:1em;
    flex-shrink: 0;
    border-radius: 0.625em !important;
    border-color:#543CD6;
    background: #543CD6 !important;

    color: #FEFEFE;
    text-shadow: 0px 1px 3px #5B03FF;
    font-family: Poppins;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.035em;
    text-transform: uppercase;
}
.shareBox{
    padding-top:1em;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 11.9rem;
    height: 3.76856rem;
    flex-shrink: 0;
    background-image: url("assets/images/tooltip.svg");
}
.shareBox img,span{
    cursor:pointer;
}