.card-content{    
    /* Width:100%; */
    height: 460px;
}
.card-contentMob{    
    Width:100% !important;
    height: 460px;
}
.PaxText{
animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}