.card-content{    
    /* Width:100%; */
    height: 460px;
}
.card-contentMob{    
    Width:100% !important;
    height: 460px;
}
.PaxText{
animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.popupStyle {
  border-radius:100px 0px 100px 100px
}

.modulebackground{
  background-color:transparent !important;
  border: none !important;
}
.btn-close{
  color: white !important;
}
.newtooltip{
  background: var(--color-160133) 0 0% no-repeat padding-box;
    border: 2px solid var(--color-6352e8);
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0 20px 20px 20px;
    opacity: 1;
    font: var(--font-style-normal) normal var(--font-weight-normal) var(--font-size-12)/var(--line-spacing-13) var(--font-family-poppins);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-ffffff);
    text-align: center;
    /* width: 300px; */
    padding: 15px !important;  
    position: absolute;
    z-index: 10;
}
/* .newtooltip .mytooltip::before {
    top: 7px;
    left: -21px;
    border-width: 0;
    content: "hello" !important;
    color: var(--color-6352e8);
    position: absolute;
} */
/* .newtooltip::before{
content: "" !important;
} */
/* #d4d0f3 */
/* #6352e8 */

/* .coin_Bg{
 background-image: url(../../assets/images/coin_bg.png);
} */