@keyframes bull_shake_left {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 0 50%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%, 40%, 60% {
        transform: rotate(-4deg);
    }
    30%, 50%, 70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}

@keyframes bull_shake_right {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 100% 50%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%, 40%, 60% {
        transform: rotate(-4deg);
    }
    30%, 50%, 70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}
