* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
          .coin {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 200px;
            height: 200px;            
          }

          .coin-in {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 50px;
            height: 50px;
            background-image: url(https://res.cloudinary.com/gloot/image/upload/v1632752594/Marketing/202109_gloot2/Coins_side_front.svg);
            background-size: cover;
            border-radius: 50%;
            animation-name: coin;
            animation-duration: .5s;
            animation-timing-function: linear;            
                        
          }

          .dalay1 {
            animation-delay: .2s;
          }
          .dalay2 {
            animation-delay: .3s;
          }
          .dalay3 {
            animation-delay: .4s;
          }
          .dalay4 {
            animation-delay: .5s;
          }
          
          .coin-main {
            /* border: 1px solid red; */
            margin: auto;
            position: absolute;
            top: 180px;
            left: 0px;
            bottom: 0;
            right: 0;
            width: 450px;
            /* width: 97%; */
            height: 220px;
            animation: bounce-in .4s ease;
          }
          .coin-mainMOb {
            /* border: 1px solid red; */
            margin: auto;
            position: absolute;
            top: 180px;
            left: 0;
            bottom: 0;
            right: 0;
            width: 97%;
            height:220px;
            animation: bounce-in .4s ease;
          }

          /* .coin1 {
            position: absolute;
            top: 0;
            left: 0px;
            bottom: 0px;
            width: 100px;
            height: 30px;
            background: rgb(247,167,5);
            background: linear-gradient(293deg, rgba(247,167,5,1) 0%, rgba(232,195,5,1) 100%);
            border-radius: 50%;
            box-shadow: 0 7px 0 #f5e649fc, inset 2px 0px 3px #f7e50e;
            border: solid #bb8217fc 2px; 
          } */

          .coin1 {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 130px;
            height: 50px;
            background-image: url("../../assets/images/coin-img.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain; 
            filter: drop-shadow(0px 1px 1px #666);
          }

          .animeted {
            animation-name: coin;
            animation-duration: .5s;
            animation-timing-function: linear;            
            animation-delay: .5s;
          }


          .coin-dalay1 {
            animation-delay: .4s;
            left: 14px;
            bottom: 10px;
            z-index: 1;
          }
          .coin-dalay2 {
            animation-delay: .3s;
            left: -8px;
            bottom: 20px;
            z-index: 2;
          }
          .coin-dalay3 {
            animation-delay: .2s;
            left: 8px;
            bottom: 30px;
            z-index: 3;
          }
          .coin-dalay4 {
            animation-delay: .1s;
            left: 22px;
            bottom: 37px;
            z-index: 4;
          }

          

          @keyframes coin {
            to {
              left: 30%;
              bottom: 100%;
            }
          }

          @keyframes bounce-in {
            0% {
                opacity: 0;
                transform: scale(.3);
            }
            50% {
                opacity: 1;
                transform: scale(1.05);
            }
            70% {
                transform: scale(.9);
            }
            100% {
                transform: scale(1);
            }
          }
